<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <meta http-equiv=Content-Type content="text/html; CHARSET=utf-8">
    <title>Каталог сайтов SiteList &mdash; смена email</title>
    </head>
<body style="margin:0;padding:0;color:#454545;">
<div>
    C вашего аккаунта на <a href='{{ Yii.getBaseUrl(true) }}{{ this.createUrl("user/index", {"user" : user.username}) }}' target='_blank'>SiteList.in</a> поступил запрос на смену email.
    <br><br>
    <div style='font-size: 12px;'>
    <b>Текущий email:</b> {{ user.email|e }}<br>
    <b>Желаемый email:</b> {{ email|e }}<br>
    </div>
    <br>
    Если вы этого не делали, просто проигнорируйте письмо.
    <br>
    <br>
    В противном случае, для подтверждения смены email пройдите по ссылке: <a href='{{ Yii.getBaseUrl(true) }}{{ this.createUrl("profile/email", {"hash" : hash }) }}'>{{ Yii.getBaseUrl(true) }}{{ this.createUrl("profile/email", {"hash" : hash }) }}</a>.<br>
    <br>
    -----------------<br>
    C уважением,<br>
    Администрация сайта <a href='{{ Yii.getBaseUrl(true) }}' target='_blank'>SiteList.in</a>
    
</div>

</body>
</html>