{% extends "views/admin/index.html" %}

{% block admin_content %}
{% if category %}
{{ CHtml.form('', 'post', {"class":"forms"}) }}
    <p class='label'>Название категории</p>
    <p>{{ CHtml.activeTextField(category, 'catname', {"size":50}) }}</p>
    {{ CHtml.error(category, 'catname') }}
    <br>
    <p class='label'>Алиас</p>
    <p>{{ CHtml.activeTextField(category, 'alias', {"size":50}) }}</p>
    {{ CHtml.error(category, 'alias') }}
    <br>
    <p>{{ CHtml.submitButton('Сохранить') }}</p>
    <br>
{{ CHtml.endForm() }}
<br>
{% endif %}
{% endblock %}