{% extends "views/admin/index.html" %}

{% block admin_content %}
    <h3>Новые сайты</h3>
    {{ this.widget('zii.widgets.grid.CGridView', 
        {
            "dataProvider": data,
			"columns" : {
                0: {
                    "name":"title",
					"value": "CHtml::link($data->title, array('link/view', 'id' => $data->id))",
                    "type": "html"
				},
				1: {
				    "name":"category.catname",
					"value": "CHtml::link($data->category->catname, array('category/view', 'id' => $data->category->id))",
                    "type": "html"
				},
				3: {
				    "name":"Добавил",
                    "value": "
					($data->userid)?
					CHtml::link($data->user->username, array('user/index', 'user'=> $data->user->username)):
					'Гость'
					",
                    "type": "html"
                },
				4: {
                    "name":"ip",
					"value": "CHtml::link($data->ip, 'http://nic.ru/whois/?query='.$data->ip)",
					"type": "html"
				},
				5: {
					"value": "CHtml::link('Редактировать', array('link/edit', 'id' => $data->id))",
                    "type": "html"
				}
			},
		}
		,true)
    }}
{% endblock %}