{% extends "views/layouts/main.html" %}

{% block add_css %}
{% if links %}
<style type="text/css">
.faviconed {background: url(http://favicon.yandex.ru/favicon/{% for l in links %}{{ l.domain }}/{% endfor %}) 0 0 no-repeat; width:16px; height:16px;}
{% for l in links %}.fav_{{ loop.index }} {background-position: 0 -{{ loop.index0*16 }}px;}{% endfor %}
</style>
{% endif %}
{% endblock %}

{% block menu_top %}
    <li class='menu-item'><a href='/top/' class='current'>Рейтинг сайтов</a></li>
{% endblock %}

{% block content %}
{% if links %}
{% for l in links %}
<div class='top-site'>
	<div class='rate left'>
	   <div class='rate-value{{ (page==1 and loop.index<4)?" hover":"" }}'>{{ l.rate }}</div>
	</div>
	<div class='favicon left'>
		{% if l.domain!=false %}
			<div class='faviconed fav_{{ loop.index }}'></div>
        {% endif %}
	</div>
	<div class='right site'>
		<h2 class='name'>
			<a title='{{ l.title|e }}' href='/link/{{ l.id }}/{{ l.domain|e }}'>
                {{ l.title|e }}
            </a>
		</h2>
		<p class='desc'>{{ l.desc|cut(250)|e }}</p>
	</div>
	<div class='clear'></div>
</div>
{% endfor %}
<div class="paginator">
    {{ top_paginator }}
</div>
<br>
{% else %}

<h3>
    оУ! <br>
    Походу сайтеги потерялися... или ты набрал страницу. которой нет...хзхз. <br>
    ну, лучше тебе пойти на главную, там уж точно есть, что глянуть ;)
</h3>

{% endif %}
{% endblock %}