<a name='comment{{ c.id }}'></a>
{% block avatar%}	
{% if c.userid!=0 %}
    <a href='{{ this.createUrl("user/index", {"user" : c.user}) }}'>
{% endif %}
{% if c.userid==0 or c.user_profile.avatar=='' %}
    <img class='avatar' src='{{ Yii.getBaseUrl(true) }}/images/user/noavatar.gif' alt=''>
{% else %}
    <img class='avatar' src='{{ Yii.getBaseUrl(true) }}/images/avatars/t_{{ c.user_profile.avatar|e }}' alt=''>
{% endif %}
{% if c.userid!=0 %}
    </a>
{% endif %}
{% endblock %}        
<div class='info'>
	{% block sitename %}
    {% endblock %}   
    <div class='name'>
    {% if c.userid!=0 %}
        <a class='name' href='{{ this.createUrl("user/index", {"user" : c.user}) }}'>
    {% endif %}
    {{ c.user|e }}
    {% if c.userid!=0 %}
    </a>
    {% endif %}
    </div>
	         
			
    <div class='message'>{{ c.text|e|auto_link|nl2div }}</div>
    <div class='clear'></div>
	{% block date %}
    <div class='date left'>
		<a class='date' href='#comment{{c.id}}'>{{ c.datetime|date_format("H:i, d.m.y") }}</a>
    </div>
	{% endblock %}
    <div class='right'>
        {% if ((Yii.user.id>0) and Yii.user.id==c.userid) or Yii.user.isAdmin %}
        <form action='{{ this.createUrl("comment/edit", {"id" : c.id}) }}' method='post' class='right'>
            <input class='adm' type='submit' name='d' value='редактировать'>
        </form>
        {% endif %}
		
        {% if Yii.user.isAdmin %}
        <form action='{{ this.createUrl("comment/delete", {"id" : c.id}) }}' method='post' class='right'>
            <input class='adm' type='submit' name='d' value='удалить' onclick='return confirm("Удалить?")'>
        </form>
        {% endif %}
    </div>
    <div class='clear'></div>
    <div class='splitter'></div>
</div>
<div class='clear'></div>