{% extends "views/layouts/main.html" %}

{% block menu_about %}
    <li class='menu-item'><a href='{{ this.createUrl("main/about") }}' class='current'>О проекте</a></li>
{% endblock %}

{% block bookmarklet %}
{% endblock %}

{% block content %}
<div class='forms'>
    <h2 class='title'>О проекте</h2>
    <br>
    <p>
        <strong>SiteList</strong> &mdash; это каталог современных и качественных сайтов.<br>
        Все ресурсы тщательно отобраны, проверены на работоспособность и рассортированы по категориям. 
        Здесь вы не найдете унылых сайтов-визиток, кривых интернет-магазинов, сайтов-однодневок и других жалких подобий интернет-страничек. 
        Мы собрали для вас только лучшее!
        <br><br>
        Наш каталог пополняется ежедневно. Чтобы следить за обновлениями, подпишитесь на <a href='{{ this.createUrl('main/rss') }}'>RSS</a>, 
        либо присоединитесь к группе в одной из ваших любимых соц.сетей 
        (<a href='http://www.facebook.com/sitelist.in' target='_blank'>Facebook</a> | <a href='http://vkontakte.ru/sitelist' target='_blank'>Вконтакте</a>).
        <br><br>
		Все вопросы о сотрудничестве направляйте через <a href='{{ this.createUrl("feedback/index") }}'>обратную связь</a>.
		<br><br>
        Если вы хотите помочь в развитии проекта, то просто расскажите своим друзьям о сайте <a href='{{ Yii.getBaseUrl(true) }}'>SiteList.in</a> &mdash; это будет для нас лучшей благодарностью :)
    </p>
</div>

<br>
    
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsitelist.in&amp;width=700&amp;height=182&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=254883967891239" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:700px; height:182px;" allowTransparency="true">
	</iframe>

{% endblock %}