{% extends "views/layouts/main.html" %}
{% block menu_main %}
<li class='menu-item'><a href='{{ Yii.getBaseUrl(true) }}' class='current'>Главная</a></li>
{% endblock %}
{% block content %}<!-- Главный контент -->
<ul id='cat-list'>
    {% for cat in categories %}
    <li class='cat-item'>
        <div class='left cat-logo cat-{{ cat.alias}}'>
            <a class='cat-logo-link' href='{{ this.createUrl("category/view", {"id":cat.id, "alias":cat.alias}) }}'></a>
        </div>
        <div class='right info'>
            <p class='cat-name'>
                <a href='{{ this.createUrl("category/view", {"id":cat.id, "alias":cat.alias}) }}'>{{ cat.catname|e }}</a>
            </p>
            <p class='cat-links-cnt'>
                {{ cat.linksCount|world_ending("сайт сайта сайтов")}}
            </p>
        </div>
        {% if(cat.newLinksCount>0) %}
        <div title='Новых сайтов за последние 3 дня' class='subcat-cnt'>{{ cat.newLinksCount }}</div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}