{% extends "views/layouts/main.html" %}

{% block menu_users %}
    <li class='menu-item'><a href='{{ this.createUrl("main/users") }}' class='current'>Пользователи</a></li>
{% endblock %}

{% block content %}
{% if users %}
<div id='users'>
	{% for user in users %}
	<div class='user'>
		<div class='left'>
        <a href='{{ this.createUrl("user/index", {"user" : user.username}) }}'>
        {% if user.profile.avatar %}
        <img style='' class='avatar' src='{{ Yii.getBaseUrl(true) }}/images/avatars/t_{{ user.profile.avatar }}' alt='Аватар пользователя'>
        {% else %}
        <img class='avatar' src='{{ Yii.getBaseUrl(true) }}/images/user/noavatar.gif' alt='Аватар пользователя'>
        {% endif %}
        </a>
		<a href='{{ this.createUrl("user/index", {"user" : user.username}) }}'>
			{{ user.username|e }}
		</a>
        </div>
	</div>
    {% endfor %}    
    <div class='clear'></div>
</div>
<div class="paginator">
    {{ this.widget("CLinkPager", {"pages":pages}, true) }}
</div>
{% endif %}
{% endblock %}