{% extends "views/layouts/main.html" %}

{% block content %}
<div id='add-site' class='forms'>
    {% if added == false %}	
	{{ CHtml.form('', 'post', {"id":"addform"}) }}
    <h2 class='title'>Добавление сайта в каталог</h2>
    <br>
    <br>
    <p class='label'>Категория</p>
    <p>
    	{{ CHtml.activeDropDownList(form, 'catid', categories, {"prompt": "-- Не выбрана --"}) }}
    </p>
	{{ CHtml.error(form, 'catid') }}
    <br>
    <p class='label'>Адрес</p>
    <p>{{ CHtml.activeTextField(form, 'url', {"title":"Укажите адрес сайта, начинающийся c http://"}) }}</p>
	{{ CHtml.error(form, 'url') }}
	<br>
    <p class='label'>Название</p>
    <p>
		{{ CHtml.activeTextField(form, 'title', {"title":"Укажите название сайта. Кол-во символов не должно превышать 256", "size":'256', "maxlength":'256'}) }}
	</p>
	{{ CHtml.error(form, 'title') }}
	<br>
    <p class='label'>Описание</p>
    <p>{{ CHtml.activeTextArea(form, 'desc', {"title":"Описание сайта. Не более 4000 символов", "cols":'78', "rows":'5'}) }}</p>
	{{ CHtml.error(form, 'desc') }}
    <br>
	<div>
        <ul class='line'>
        {% if  Yii.user.isGuest %}
        <li class='line-item'>
        	{{ this.widget('CCaptcha', {}, true) }}
		</li>
        <li class='line-item'>
			{{ CHtml.activeTextField(form, 'captcha', {"title":"Введите код с картинки левее. Это нужно для того, чтобы подтвердить, что вы не робот ;)", "class":'icaptcha', "maxlength":'10', 'size':10}) }}
        </li>
        {% endif %}
        <li class='line-item'>
			{{ CHtml.submitButton('submitButton', {"class":'add-btn', 'value':''}) }}
        </li>
        </ul>
    </div>
	<div class='clear'></div>
	{{ CHtml.error(form, 'captcha') }}
	{{ CHtml.endForm() }}
	<br><br>
	<p>
		В каталог допускаются только качественные интернет-сервисы.<br>
		Сайты-визитки, варезные порталы, порносайты и другой шлак - модерацию не пройдут.
	</p>
	{% else %}
        <h4>Сайт успешно добавлен. <br>После одобрения модератором страница ресурса <a href='{{ this.createUrl("link/view", {"id" : added_id}) }}'>появится в каталоге</a>.</h4>
    {% endif %}
	<div class='clear'></div>
</div>
{% endblock %}