{% extends "views/layouts/main.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% include "views/layouts/messages.html" %}
{{ CHtml.form('', 'post', {"class":"forms"}) }}
    <p class='label'>Категория</p>
    <p>
        {{ CHtml.activeDropDownList(form, 'catid', categories, {"prompt": "-- Не выбрана --"}) }}
    </p>
    {{ CHtml.error(form, 'catid') }}
    <br>
	<p class='label'>Адрес</p>
    <p>{{ CHtml.activeTextField(form, 'url', {"size":50}) }}</p>
    {{ CHtml.error(form, 'url') }}
    <br>
    <p class='label'>Название</p>
    <p>
        {{ CHtml.activeTextField(form, 'title', {"size":'50', "maxlength":'256'}) }}
    </p>
    {{ CHtml.error(form, 'title') }}
    <br>
    <p class='label'>Описание</p>
    <p>{{ CHtml.activeTextArea(form, 'desc', {"cols":'78', "rows":'10'}) }}</p>
    {{ CHtml.error(form, 'desc') }}
    <br>
    <p class='label'>Теги</p>{{ link.tags|e }}
    <p>
    	{{ CHtml.activeTextField(form, 'tags', {"id":"tags"}) }}
	</p>
    <br>
	<p class='label'>Одобрено</p>
    <p>
    	{{ CHtml.activeDropDownList(form, 'visible', {"0": "НЕТ", "1": "ДА"}) }}
    </p>
    <br>
	<p class='label'>Сайт не работает</p>
    <p>
    	{{ CHtml.activeCheckBox(form, 'broken') }}
    </p>
    <br>
	<p class='label'>Удалить фото</p>
    <p>
        {{ CHtml.checkBox('deleteFoto', false) }}
    </p>
    <br>
	<p>
		{{ CHtml.submitButton('Применить') }}
    </p>
	
	
{{ CHtml.endForm() }}
<br>
{% endblock %}

{% block add_css %}
<link rel="stylesheet" type="text/css" href="{{ Yii.getBaseUrl(true) }}/js/jquery.tags/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="{{ Yii.getBaseUrl(true) }}/js/jquery.autocomplete/jquery.autocomplete.css" />
{% endblock %}

{% block add_js %}
<script type='text/javascript' src='{{ Yii.getBaseUrl(true) }}/js/jquery.tags/jquery.tagsinput.min.js'></script>
<script type='text/javascript' src='{{ Yii.getBaseUrl(true) }}/js/jquery.autocomplete/jquery.autocomplete.min.js'></script>
    
<script>
$(function(){
	$('#tags').tagsInput({
		autocomplete_url : '{{ this.createUrl("ajax/TagsAutocomplete") }}',
        autocomplete : {
			selectFirst:true, 
			width : '80px', 
			autoFill:true,
			minChars : 3
		},
		height :'auto',
        width :'100%',
        unique :true,
		minChars : 3,
		defaultText:'добавить тег',
		removeWithBackspace: false
	});
});
</script>
{% endblock %}