{% extends "views/layouts/main.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}
{% include "views/layouts/messages.html" %}
<form action="" method="POST" class='forms'>
    <input type="hidden" name="id" value="{{ link.id }}"/>
    <p class='label'>Адрес</p>
    <p><input size="50" name="Link[url]" value='{{ link.url|e }}'></p>
    <br>
    <p class='label'>Название</p>
    <p><input size="50" type=text name="Link[title]" value='{{ link.title|e }}'></p>
    <br>
    <p class='label'>Описание</p>
    <p><textarea rows="10" cols="78" name="Link[desc]">{{ link.desc|e }}</textarea></p>
    <br>
    <p class='label'>Категория</p>
    <p>{% include "views/layouts/catbox.html" with {'cats':categories, 'curr':link.catid} %}</p>
    <br>
    <p class='label'>Одобрено</p>
    <p>
        <select title="Ссылка одобрена?" name="Link[visible]">
            <option {%  if link.visible==0 %}SELECTED{%  endif %} value="0">НЕТ</option>
            <option {%  if link.visible==1 %}SELECTED{%  endif %} value="1">ДА</option>
        </select>
    </p>
	<br>
    <p class='label'>Сайт не работает</p>
    <p>
        <input type='hidden' name='Link[broken]' value="0">
        <input {% if link.broken %}checked="checked"{% endif %} type='checkbox' name='Link[broken]' value="1">
    </p>
    <br>
    <p class='label'>Удалить фото</p>
    <p>
        <input type='hidden' name='deleteFoto' value="0">
        <input type='checkbox' name='deleteFoto' value="1">
    </p>
    <br>
    <p>
        <input type="submit" name="editbtn" value='Применить'>
    </p>
</form>
<br>
{% endblock %}