{% extends "views/layouts/main.html" %}

{% block add_meta %}
<link rel="alternate" type="application/atom+xml" title="Новые сайты в каталоге SiteList.in - {{ link.category.catname|e }}" href="{{ this.createUrl('main/rss', {'category':link.category.alias}) }}" >
{% endblock %}
{% block rss_link %}
    <a class='rss_twitter_fb rss' target='_blank' href='{{ this.createUrl('main/rss', {'category':link.category.alias}) }}' title='RSS-лента новых сайтов в категории "{{ link.category.catname|e }}"'></a>
{% endblock %}

{% block add_css %}
<link href="http://js.sitelist.in/fancybox/jquery.fancybox-1.3.1.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block add_js %}
<script type='text/javascript' extsrc='http://js.sitelist.in/fancybox/jquery.fancybox-1.3.1.pack.js'></script>
<script type="text/javascript" extsrc="http://yandex.st/share/share.js" charset="utf-8"></script>
{% endblock %}

{% block add_head %}
<meta property="og:title" content="{{ link.title|e }}">
<meta property="og:image" content="http://f.sitelist.in/t_{{ link.foto }}">
<meta property="og:site_name" content="Каталог сайтов Sitelist.in">
{% endblock %}

{% block content %}
{% if link.visible or Yii.user.getState("admin") %}
<input type='hidden' id='linkId' value='{{ link.id }}'>
<div id='site-info'>
    
	<!-- категория -->
    
	<div id='category-head'>
    <div class='left category-info'>
        <div class='left cat-logo cat-{{ link.category.alias }}'></div>
        <div class='left info'>
            <p class='name'>
            	<a href='{{ this.createUrl("category/view", {"id":link.category.id, "alias":link.category.alias}) }}'>{{ link.category.catname|e }}</a></p>
            <p class='link-count'>{{ link.category.linksCount|world_ending("сайт сайта сайтов")}}</p>
        </div>
    </div>
    
	<!-- пузомерки -->
    
	<div class='left puzomerki'>
			<div class='yandex_ci'>
                {% if ci_is_old %}
                    <input type='hidden' id='ci_is_old' value=true >
                {% endif %}
                {% if pr_is_old %}
                    <input type='hidden' id='pr_is_old' value=true >
                {% endif %}
                <img width='16' height='16' src='{{ Yii.getBaseUrl(true) }}/images/yandex.png' alt='Яндекс.тИЦ'> <b>тИЦ</b>:&nbsp;
                <span id='yandex_ci'>
                    {{ link.ci }}
                </span>
                </div>
			<div class='google_pr'>
                <img width='16' height='16' src='{{ Yii.getBaseUrl(true) }}/images/google.png' alt='Google.PR'> <b>PR</b>:&nbsp;
                <span id='google_pr'>
                    {{ link.pr }}
                </span>
                </div>
	</div>
	<!-- QR -->
	<div id='qr-code'>
		<div class='img-wrapper'>
		<img width='75' height='75' alt='QR-code' title='Это QR-код адреса сайта &laquo;{{ link.title|e }}&raquo;' src='http://qrcode.kaywa.com/img.php?s=2.8&amp;d={{ link.domain }}'>
        </div>
	</div>
	<div class='clear'></div>
    </div>
    
    <!-- описание сайта -->	
    
	<div class='new-site'>
    <div class='photo left'>
        {% if link.foto %}
        <a target=_blank href='{{ Yii.getBaseUrl(true) }}/foto/{{ link.foto }}' class="thumbnail fancy" >
            <img title='Кликните для просмотра в полный размер' class='photo' width='200' src='{{ Yii.getBaseUrl(true) }}/foto/t_{{ link.foto }}' alt='{{ link.title|e }}'>
        </a>
        {% endif %}
		{% if Yii.user.getState("admin") %}
            <span title='Сгененировать скриншот' class='genScreenBtn'>Сгенерить&nbsp;скрин</span><br>
            <img width='16' height='16' src='{{ Yii.getBaseUrl(true) }}/images/ajax.gif' class='ajaxProgress' alt=''>
        {% endif %}
		<div id='link-share'>
            <script asyncsrc="http://connect.facebook.net/ru_RU/all.js#xfbml=1" type='text/javascript'></script>
            <fb:like href="{{ Yii.getBaseUrl(true) }}{{ this.createUrl("link/view", {"id" : link.id }) }}" layout="button_count" width="136" font="arial"></fb:like>
			
			<div class='right' style='padding:0 0 0 2px;'>
                <script type="text/javascript" asyncsrc="https://apis.google.com/js/plusone.js"></script>
                <g:plusone size="medium" href="{{ link.url }}"></g:plusone>
            </div>
        </div>
    </div>
    <div class='favicon left'>
        {% if link.domain!=false %}
            <img width='16' height='16' src='http://favicon.yandex.ru/favicon/{{ link.domain|e }}' alt='{{ link.domain|e }}'>
        {% endif %}
    </div>
    <div class='right site'>
        <h2 class='name'>
            <a title='{{ link.title|e }}' href='{{ link.url }}' target='_blank'>
                {{ link.title|e }}
            </a>
        </h2>
        <p class='desc'>{{ link.desc|e|nl2div }}</p>
        <div>
            <ul class='site-rate' id='site{{ link.id }}'>
                <li class='rate'><a title='{{ link.voted?"Вы уже голосовали":"Нравится" }}' class='site{{ link.id }} t-up{{ (link.voted) ?"":" active" }}' href='javascript:void(0)'></a></li>
                <li class='rate-value site{{ link.id }}' title='Рейтинг: {{ link.rate }} [голосов: {{ link.votes }}]'>{{ link.rate }}</li>
                <li class='rate'><a title='{{ link.voted?"Вы уже голосовали":"Не нравится" }}' class='site{{ link.id }} t-down{{ link.voted ? "":" active" }}' href='javascript:void(0)'></a></li>
            </ul>
        </div>
		
		<div class='clear'></div>
		<br>
		{% if not Yii.user.isGuest %}
		  <!-- коллекции -->
            <div class='collect-info'>
            	{% include "views/collection/ajax/info_site_collections.html" %}
            </div>
            <div class='collect-add-panel'></div>
		  <!-- /коллекции -->
        {% endif %}
    </div>


	<div class='clear'></div>
	
	
	<div class='clear'></div>
	
	{% if Yii.user.getState("admin") %}
    <div>
        <form class='right' action='{{ this.createUrl("link/delete", {"id":link.id}) }}' method="post">
            <input style='color: red;border:none; background: none;' type="submit" value="удалить" onclick="return confirm('Удалить?');" >
        </form>
        <a class='right' href='{{ this.createUrl("link/edit", {"id":link.id}) }}'>редактировать</a>
        <div class='clear'></div>
    </div>
    {% endif %}
    </div>
    
	{% if not link.broken %}
	<!-- жалоба на сайт -->
	<div id='broken-site'>
		<div class='wrapper'>
		<div class='left-text'>
			Если ссылка в нашем каталоге ведет на неработающий сайт, сообщите нам об этом
		</div>
		<div class='send-btn'>
            <a title='Сообщить модератору, что сайт не работает' href='javascript:void(0);' class='send-btn-link'>Сайт не работает</a>
        </div>
        </div>
    </div>
	<!-- / -->
	{% endif %}
	
    <!-- комментарии -->
	<div id='add-comment' class='forms'>
    <form action='' method="post" onsubmit="return sendComment($(this));">
    <input type='hidden' name='link_id' value='{{ link.id }}'>
	<div class='right'>
		<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,lj,friendfeed"></div> 
	</div>
    <p class='title'>Добавить комментарий:</p>
    <br>
	<div id='errors'></div>
	{% if Yii.user.isGuest %}
    <p>
    	<b>Ваше имя</b><br>
    	<input maxlength="32" type="text" name="Comment[user]" size='32' value=''>
    </p>
	{% endif %}
    <p>
    	<b>Текст сообщения</b>
    	<textarea class='desc' cols="5" name="Comment[text]" rows="5"></textarea>
	</p>
    <br>
    <div>
        <ul class='line right'>
        {% if Yii.user.isGuest %}
        <li class='line-item'>
        	{{ this.widget('CCaptcha', {'captchaAction':"ajax/captcha"}, true) }}
		</li>
        <li class='line-item'>
            <input class='icaptcha' maxlength='10' size='10' title='Введите код с картинки левее. Это нужно для того, чтобы подтвердить, что вы не робот ;)' name="Comment[captcha]">
        </li>
        {% endif %}
        <li class='line-item'>
            <input class='add-btn' type="submit" name="comaddbtn" value=''>
        </li>
        </ul>
    </div>
    <div class='clear'></div>
    </form>

    <!-- листинг комментов -->
    <div id='comments'>
    	<br>
    	{% if link.comments_users %}
        {% for c in link.comments_users %}
            {% include "views/layouts/comment.html" %}
        {% endfor %}
        {% endif %}
	</div>
    </div>
	
</div>
{% else %}
<h3>Данный сайт еще не утвержден модератором</h3>
{% endif %}
{% endblock %}