{% extends "views/layouts/main.html" %}

{% block content %}
{% include "views/layouts/messages.html" %}

{{ CHtml.form('', 'post', {"class":"forms"}) }}
<p class='label'>Логин</p>
<p>
	{{ CHtml.activeTextField(form, 'username', {"title":"Укажите имя пользователя", "maxlength":"50", "size":"50"}) }}
</p>
{{ CHtml.error(form, 'username') }}
<br>
<p class='label'>Пароль</p>
<p>
    {{ CHtml.activePasswordField(form, 'password', {"title":"Укажите ваш пароль", "maxlength":"50", "size":"50"}) }}
</p>
{{ CHtml.error(form, 'password') }}
<br>
<p>
	{{ CHtml.submitButton('Войти') }}
</p>
<br>
<p>
    Забыли пароль? Вспомнить можно <a href="{{ this.createUrl('user/recoverPassRequest') }}">тут</a>.
</p>
{{ CHtml.hiddenField('return', return ) }}
{{ CHtml.endForm() }}

<p>
	<center>
    <br>
	<h3 align='center'>Или войти с помощью:</h3>
	<br>
	</center>
</p>
{{ this.widget('application.widgets.openidProviders.openidProviders', {"options":{"lang":"ru"}}, true) }}

{% endblock %}