{% extends "views/layouts/main.html" %}

{% block content %}

{% if userinfo %}
<h4>Здравствуйте. Под данной учетной записью {% if userinfo.email %}({{ userinfo.email|e }}){% endif %} Вы вошли в первый раз.<br>
Для продолжения выберите один из вариантов:</h4>
<br>
{{ CHtml.form('', 'post', {"class":"forms left", "style":"width:43%"}) }}
<h4>Создать новый аккаунт:</h4>
<br>
<p class='label'>Логин</p>
<p>
    {{ CHtml.activeTextField(reg_form, 'username') }}
</p>
{{ CHtml.error(reg_form, 'username')|default('<br>') }}
<p class='label'>Электропочта</p>
<p>
    {{ CHtml.activeTextField(reg_form, 'email') }}
</p>
{{ CHtml.error(reg_form, 'email')|default('<br>') }}

{{ CHtml.submitButton('Создать', {"name":"create"}) }}
{{ CHtml.endForm() }}

{{ CHtml.form('', 'post', {"class":"forms right", "style":"width:43%"}) }}
<h4>Связать с существующим аккаунтом:</h4>
<br>
<p class='label'>Логин</p>
<p>
    {{ CHtml.activeTextField(login_form, 'username') }}
</p>
{{ CHtml.error(login_form, 'username')|default('<br>') }}

<p class='label'>Пароль</p>
<p>
    {{ CHtml.activePasswordField(login_form, 'password') }}
</p>
{{ CHtml.error(login_form, 'password')|default('<br>') }}

{{ CHtml.submitButton('Войти', {"name":"login"}) }}
{{ CHtml.endForm() }}



{#
<form action='' method='post' class='forms left' style='width:43%;'>
	<h4>Создать новый аккаунт:</h4>
	<br>
    <p class='label'>Логин</p>
	<p><input name='NewUser[username]' value='{{ reg_form.attributes.username|e }}'></p>
	<small><i>{{ reg_form.errors.username[0] }}</i></small>
	<br>
	<p class='label'>Электропочта</p>
	<p><input name='NewUser[email]' value='{{ reg_form.attributes.email|e }}'></p>
	<small><i>{{ reg_form.errors.email[0] }}</i></small>
	<br>
	<input type='submit' value='Создать'>
</form>
#}
{#
<form action='' method='post' class='forms right' style='width:43%;'>
    <h4>Связать с существующим аккаунтом:</h4>
	<br>
    <p class='label'>Логин</p>
    <p><input name='User[username]' value='{{ login_form.attributes.username|e }}'></p>
	<small><i>{{ login_form.errors.username[0] }}</i></small>
    <br>
    <p class='label'>Пароль</p>
    <p><input type='password' name='User[password]' value=''></p>
	<small><i>{{ login_form.errors.password[0] }}</i></small>
    <br>
    <input type='submit' value='Войти'>
</form>
#}
<div class='clear'></div>

{% else %}
<p>
    <center><h3 align='center'>Войти с помощью:</h3></center>
</p>
{% endif %}

<br>
{#
{% if error %}
<i>{{ error|e }}</i>
{% endif %}
#}

{{ this.widget('application.widgets.openidProviders.openidProviders', {"options":{"lang":"ru"}}, true) }}

{% endblock %}