{% extends "views/layouts/main.html" %}

{% block content %}

<div>
    <div class='title'>
        <b>Сброс пароля</b>
    </div>
</div>
<br>
{{ CHtml.form('', 'post', {"class":"forms"}) }}
<p class='label'>Новый пароль</p>
<p>
    {{ CHtml.activePasswordField(form, 'password', {"maxlength":"50", "size":"50", "required":"required"}) }}
</p>
{{ CHtml.error(form, 'password')|default('<br>') }}

<p class='label'>Еще раз</p>
<p>
    {{ CHtml.activePasswordField(form, 'password2', {"title":"Повторите пароль", "maxlength":"50", "size":"50", "required":"required"}) }}
</p>
{{ CHtml.error(form, 'password2')|default('<br>') }}
{{ CHtml.submitButton('Сменить пароль') }}
{{ CHtml.endForm() }}
{% endblock %}