{% extends "views/layouts/main.html" %}

{% block content %}

{% include "views/layouts/messages.html" %}

{% if not Yii.user.getFlash("register") %}
{{ CHtml.form('', 'post', {'class':'forms'}) }}
<p class='label'>Логин</p>
<p>
	{{ CHtml.activeTextField(form, 'username', {"title":"Укажите имя пользователя", "maxlength":"50", "size":"50", "required":"required"}) }}
</p>
{{ CHtml.error(form, 'username')|default('<br>') }}

<p class='label'>Пароль</p>
<p>
    {{ CHtml.activePasswordField(form, 'password', {"title":"Укажите желаемый пароль", "maxlength":"50", "size":"50", "required":"required"}) }}
</p>
{{ CHtml.error(form, 'password')|default('<br>') }}

<p class='label'>Снова пароль</p>
<p>
    {{ CHtml.activePasswordField(form, 'password2', {"title":"Повторите пароль", "maxlength":"50", "size":"50", "required":"required"}) }}
</p>
{{ CHtml.error(form, 'password2')|default('<br>') }}

<p class='label'>Электропочта</p>
<p>
	{{ CHtml.activeTextField(form, 'email', {"title":"Укажите ваш email", "maxlength":"256", "size":"50", "required":"required"}) }}
</p>
{{ CHtml.error(form, 'email')|default('<br>') }}

<div>
    <ul class='line'>
    <li class='line-item'>
    	{{ 
        this.widget('CCaptcha', {
            "showRefreshButton":false,
			"clickableImage": true,
			"imageOptions": {
                'alt': 'проверочный код',
                'title': 'Кликни по картинке, чтобы сменить код',
                'border': 1,
                'width' : '100',
                'height' : '36'
            }
            }, true )
		}}
    </li>
    <li class='line-item'>
    	{{ CHtml.activeTextField(form, 'captcha', {"title":"Введите код с картинки левее. Это нужно для того, чтобы подтвердить, что вы не робот ;)", "maxlength":"10", "size":"10", "required":"required"}) }}
    </li>
    <li class='line-item'>
    	{{ CHtml.submitButton('Зарегистрироваться') }}
    </li>
    </ul>
	<div class='clear'></div>
	{{ CHtml.error(form, 'captcha') }}
</div>
<div class='clear'></div>

{{ CHtml.endForm() }}

<p>
    <center>
    <br>
    <h3 align='center'>Или войти с помощью:</h3>
    <br>
    </center>
</p>
{{ this.widget('application.widgets.openidProviders.openidProviders', {"options":{"lang":"ru"}}, true) }}
{% else %}
<h4>Вы успешно зарегистрировались. Теперь можете {{ CHtml.link('войти', ['user/login']) }}.</h4>
{% endif %}
{% endblock %}