{% extends "views/layouts/main.html" %}

{% block content %}

{% include "views/layouts/messages.html" %}

{% if not register %}
<form class='forms' action="" method="POST">
	<p class='label'>Логин</p>
    <p>
        <input maxlength='50' size='50' title='Укажите имя пользователя' type="text" name="User[username]" value='{{ form.username|e }}'>
    </p>
	<br>
	
	<p class='label'>Пароль</p>
    <p>
        <input maxlength='50' size='50' title='Укажите желаемый пароль'  type="password" name="User[password]" value=''>
    </p>
    <br>
	
	<p class='label'>Снова пароль</p>
    <p>
        <input maxlength='50' size='50' title='Повторите пароль'  type="password" name="User[password2]" value=''>
    </p>
    <br>
	
	<p class='label'>Электропочта</p>
    <p>
        <input size='50' maxlength='256' title='Укажите ваш email'  type="text" name="User[email]" value='{{ form.email|e }}'>
    </p>
    <br>
	<div>
		<ul class='line'>
        <li class='line-item'>{{ captcha }}</li>
        <li class='line-item'>
            <input class='icaptcha' maxlength='10' size='10' title='Введите код с картинки левее. Это нужно для того, чтобы подтвердить, что вы не робот ;)' type=text name="User[captcha]">
        </li>
        <li class='line-item'>
            <input class='submit' type="submit" name="regbtn" value='Зарегистрироваться'>
        </li>
        </ul>
	</div>
    <div class='clear'></div>
</form>
{% else %}
<h3>Вы успешно зарегистрировались. Теперь можете <a href='/login/'>войти</a>.</h3>
{% endif %}
{% endblock %}