{% extends "views/layouts/main.html" %}

{% block content %}

<div>
    <div class='title left'>
        <b>Создание подборки</b>
    </div>
    <div class='pref-links right'>
        <a href='{{ this.createUrl("user/index", {"user":Yii.user.name}) }}'>Вернуться в профиль</a>
    </div>
    <div class='clear'></div>
</div>
<br>
{% include "views/layouts/messages.html" %}
<form class='forms' action="" method="POST">
    <p class='label'>Название</p>
    <p>
        <input maxlength='50' size='50' name="Collection[title]" value='{{ collection.attributes.title|e }}'>
    </p>
    <br>
    
    <p class='label'>Описание</p>
    <p>
        <textarea cols="78" name="Collection[desc]" rows="5">{{ collection.attributes.desc|e }}</textarea>
    </p>
    <br>
    
    <div>
        <input class='submit' type="submit" name="fav_add" value="Создать">
    </div>
    <div class='clear'></div>
</form>
{% endblock %}