{% extends "views/layouts/main.html" %}

{% block content %}

<div>
    <div class='title left'><b>Редактирование подборки</b></div>
    <div class='pref-links right'>
        <a href='{{ this.createUrl("user/index", {"user":Yii.user.name}) }}'>Вернуться в профиль</a>
    </div>
    <div class='clear'></div>
</div>
<br>
{{ CHtml.form('', 'post', {"class":"forms"}) }}
    <p class='label'>Название</p>
    <p>{{ CHtml.activeTextField(collection, 'title', {"size":50}) }}</p>
    {{ CHtml.error(collection, 'title') }}
    <br>
    
    <p class='label'>Описание</p>
    <p>{{ CHtml.activeTextArea(collection, 'desc', {"cols":'78', "rows":'5'}) }}</p>
    {{ CHtml.error(collection, 'desc') }}
    <br>

	<div>
        {{ CHtml.submitButton('Сохранить') }}
		{{ CHtml.submitButton('Удалить', {"class":"right", "name":"fav_del", "onclick":"return confirm('Действительно удалить?');"}) }}
    </div>
    <div class='clear'></div>   
{{ CHtml.endForm() }}
{% endblock %}