{% extends "views/layouts/main.html" %}

{% block add_meta %}
<link rel="alternate" type="application/atom+xml" title="Подборка сайтов &laquo;{{ collection.title|e }}&raquo; пользователя {{ user.username|e}}" href="{{ this.createUrl('collection/index', {"id":collection.id}) }}" >
{% endblock %}

{% block add_css %}
{% if collection.links %}
<style type="text/css">
.faviconed {background: url(http://favicon.yandex.ru/favicon/{% for l in collection.links %}{{ l.domain }}/{% endfor %}) 0 0 no-repeat; width:16px; height:16px;}
{% for l in collection.links %}.fav_{{ loop.index }} {background-position: 0 -{{ loop.index0*16 }}px;}{% endfor %}
</style>
{% endif %}
{% endblock %}

{% block content %}

<div>
    <div class='title left'>
        <b>Просмотр подборки сайтов</b>
    </div>
    <div class='pref-links right'>
    	{% if Yii.user.id == user.userID %}
		<a href='{{ this.createUrl("user/index", {"user" : user.username}) }}'>Вернуться в профиль</a>
		{% else %}
        <a href='{{ this.createUrl("user/index", {"user" : user.username}) }}'>автор &mdash; {{ user.username|e }}</a> 
		{% endif %}
    </div>
    <div class='clear'></div>
</div>
<br>
<div>
<h1 class='left'>&laquo;{{ collection.title|e }}&raquo;</h1>
<h1 class='right'><a class="rss_twitter_fb rss" target="_blank" href="{{ this.createUrl('collection/rss', {"id":collection.id}) }}" title='RSS-лента этой подборки сайтов'></a></h1>
<div class='clear'></div>
<p>{{ collection.desc|e }}</p>
</div>
<br>
{% if collection.links %}
<div class='forms linksgroup'>
{% for l in collection.links %}
<div class='new-site' id='site_{{ l.id }}'>
    <div class='photo left'>
        <a target='_blank' href='{{ this.createUrl("link/view", {"id" : l.id }) }}/{{ l.domain|e }}'>
            <img class='photo' width='100' src='http://f.sitelist.in/t_{{ l.foto }}' alt='{{ l.title|e }}'>
        </a>
    </div>
    <div class='favicon left'>
        {% if l.domain!=false %}
            <div class='faviconed fav_{{ loop.index }}'></div>
        {% endif %}
    </div>
    <div class='right site'>
    	{% if collection.user_id==Yii.user.id %}
    	<a class='del-site-btn' href='javascript:void();' title='Удалить сайт из подборки' onclick="return deleteSiteFromCollection({{ l.id }},{{ collection.id }});">удалить</a>
		{% endif %}
        <p class='name'>
            <a target='_blank' title='{{ l.title|e }}' href='{{ this.createUrl("link/view", {"id" : l.id }) }}/{{ l.domain|e }}'>
                {{ l.title|e }}
            </a>
        </p>
        <p class='desc'>{{ l.desc|cut(240)|e }}</p>
    </div>
    <div class='clear'></div>
</div>
{% endfor %}
</div>
{% else %}

В подборке нет ни одного сайта. Пока что...

{% endif %}
{% endblock %}